//functions
@import "functions.scss";
//fonts
@import "fonts.scss";
//variables
@import "variables.scss";
// help classes
.fl-left{
	float: left;
}
.fl-right{
	float: right;
}
.float-wrap{
	overflow: hidden;
}

body{
	margin: 0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}

.header{
	overflow: hidden;
	padding: 20px 35px 10px;
	background: $white;
}
.header__nav{
	margin-top: 23px;
	li{
		float: left;
		margin-left: 5px;
		padding: 0 23px;
		border-left: 1px solid $black;
		&:last-child{
			padding-right: 0;
		}
		&:first-child{
			border: none;
		}
		a{
			font-family: Roboto-Regular;
			font-size: 16px;
			letter-spacing: 0.6px;
			color: $black;
			text-transform: uppercase;
		}
	}
}
.header__menu-btn{
	display: none;
	overflow: hidden;
	cursor: pointer;
}
.humburger{
	display: inline;
}
.hamburger__bar{
	width: 30px;
	height: 3px;
	background: $black;
	border-radius: 3px;
	margin-bottom: 3px;
	margin-left: 4px;
}
.header__top-buttons{
	a{
		float: left;
		color:$black;
		font-size: 14px;
		margin-left: 25px;
		padding: 3px 0;
		font-family: Roboto-Regular;
		letter-spacing: 0.7px;
	}
}
.header__lang-switch{
	margin-left: 20px;
}
.header__lang-btn{
	display: block;
	float: left;
	font-size: 14px;
	font-family: Roboto-Regular;
	color: $black;
	text-transform: uppercase;
	cursor: pointer;
	padding: 3px 5px;
	border: border($black);
	&.header__lang-btn_active{
		color: $light-grey;
		border: border($light-grey);
	}
}
.header__logo-block{
	margin-top: 8px;
	*{
		display: block;
	}
	img + .header__title{
		margin-top: 9px;
	}
}
.header__title{
    word-spacing: 6px;
    font-size: 14px;
    font-family: Roboto-Light;
}

.block{
	width: 50%;
	min-height: 50px;
	float: left;
	height: 400px;
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: $white;
	box-sizing: border-box;
	&:first-child{
		width: 75.1%;
		background: url(/img/img1.jpg);
		border-left: none;
		padding: 0 18%;
	}
	&:nth-child(2){
		width: 24.9%;
		background: #323232;
		padding: 0 32px;
		color: $white;
		.block__b-title{
			display: block;
			font-family: Roboto-Medium;
			font-size: 24px;
			margin: 35px 0 26px;
		    line-height: 29px;
		    letter-spacing: 1px;
		}
		.block__text{
			display: block;
			font-size: 14px;
			text-align: left;
			margin-bottom: 30px;
			margin-top: 0;
			line-height: 24px;
		}
	}
	&:nth-child(3){
		background: url(/img/img2.jpg);
		border-left: none;
		padding: 0 9%;
	}
	&:nth-child(4){
		background: url(/img/img3.jpg);	
		padding: 0 9%;
	}
	&.block_slider{
		position: relative;
		.slider-nav{
			position: absolute;
			bottom: 18px;
			left: 50%;
			margin-left: -74.5px;
			i{
				display: block;
				float: left;
				width: 4px;
				height: 4px;
				background: $slider-nav;
				margin-left: 25px;
				cursor: pointer;
				&:first-child{
					margin-left: 0;
				}
				&.active{
					background: $white;
				}
			}
		}
	}
}
.block__button{
	font-family: Roboto-Regular;
	font-size: 12px;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	display: table;
	min-width: 150px;
	margin-bottom: 8px;
	border: border($white);
	background: transparent;
	color: $white;
	cursor: pointer;
	box-sizing: border-box;
    padding: 8px 5px 8px 15px;
}
.block__small-title{
	display: block;
	font-family: Roboto-Medium;
	font-size: 14px;
	text-align: center;
	margin-top: 115px;
	letter-spacing: 0.7px;
	span{
		padding: 0 7px;
		color: $white;
		text-transform: uppercase;
		border-left: border($white);
		&:last-child{
			border-right: border($white);
		}
	}
}
.block__title{
	display: block;
	font-size: 24px;
	font-family: Roboto-Medium;
	color: $white;
	text-align: center;
	margin-top: 32px;
	line-height: 29px;
}
.block__text{
	display: block;
	font-size: 13.99px;
	font-family: Roboto-Regular;
	text-align: center;
	color: $white;
    margin-top: 29px;
	line-height: 24px;
}

@media #{$media} and ($feature: $medium) {
	.block, .block:nth-child(1), .block:nth-child(2){
		width: 50%;
		padding: 0 15px;
	}
}
@media #{$media} and ($feature: $small) {
	.block, .block:nth-child(1), .block:nth-child(2){
		width: 100%;
    	padding: 0 15px;
    	border-width: 0 0 2px 0;
	}
}
@media #{$media} and ($feature: $menu-colapsed) {
	.header{
		overflow: visible;
	}
	.header__menu-btn{
		display: block;
		&.opened ~ ul{
			height: auto;
		}
	}
	.header__nav{
		width: 100%;
	    height: 25px;
	    position: relative;
		ul{
			padding-left: 0;
			position: absolute;
		    z-index: 22;
		    width: 100%;
		    background: $white;
		    margin-top: 0;
	        top: 25px;
	        height: 0;
	        overflow: hidden;
		}
		li{
			float: none;
			border-left: none;
			border-bottom: border($black);
			width: 100%;
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}
}
@media #{$media} and ($feature: $minimal) {
	.header{
		padding: 20px 15px 10px;
	}
}
