$black: #333;
$light-grey: #cccccc;
$white: #fff;
$slider-nav: #909391;
$media: screen;
$feature: max-width;
$medium: 1024px;
$small: 720px;
$menu-colapsed: 829px;
$minimal: 328px;
$block-title-font-size: 24px;
$block-title-line-height: $block-title-font-size + 5;
$block__text-font-size: 13.99px;
